language: python

sudo: false

python:
  - "3.5"
  - "3.6"
  - "3.7-dev"

notifications:
  email: false

env:
  - PYNUGET_CONFIG_TYPE=TESTING

addons:
  apt:
    souces:
      - mono
    packages:
      - mono-complete

install:
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - pip install -e .

script:
  - pytest -ra --cov-report term-missing --cov pynuget tests/ --durations=5

deploy:
  on:
    tags: true
    branch: master
    condition: "$TRAVIS_PYTHON_VERSION = 3.6"
  provider: pypi
  user: dougthor42
  password:
    secure: 'AyBpaKtQJDv/oyDbkXHEbIpTzWRdScPos2Fgg2N4eX3UM0L/ADcv61gTFGTB
      QUYQMcNZaqKJEOMk5JFrnvD6+ca7O00/x/wVR3WfilGGeoVHM9u/A7UNDIHt1ltNm99
      k6bRgk+maDXEBxeLiyhjZZduRFFjZGVXAhg+IDWJm81tYc7HW7AQAbPxiRsBPDAKTy9
      oRHPUPI4oTQhuFgW9iZ6RMzXz+g+d80VkWQ3QbV9HmvNvyoAtGa11z3pU6MHfXvTCzh
      NQ2olg+MRHOhu+stNWEzfXwnBYPidgc54NDqf4r9SG1vRgtVCVBx28UBGxJwLEKAAKt
      DIerDfVqX//PCwzC7ChKTT5VB6+upm/9XYsQCHvfsr1am0OYKqlkj70CuiLD48CQYg9
      YPxRN/9gGeQ9YFprge6iTsWN20DHiK52NZbRnP2tfrjYhuBQP0tpk7unXFTaQLFM+17
      MBx/88SO+sxsItlXqEFjh2xJnM26+mN9yIHABPpSPxJaDzok5CSYdV/DFSlKaKql8m8
      IFm5s4a7cprt9TB7cujYOkmSKpRpZEU+LAjBLTeafbwT/6fFcsDViAJiQVel2e06Dst
      bwblHxKqmdmiufpOJgRnWXwNP1qV+EqtzKdMMBasoWEIiw866AzdcJZ4wk9k4krfxxP
      umkBfiX0wMFVwjLrWx0c='
  distributions: sdist bdist_wheel
